@import "tailwindcss";

.apply-main {
  @apply rounded-lg bg-white p-6;
}

.circle {
  @apply flex size-8 items-center justify-center rounded-full p-3;
}

@keyframes nextSlideOut {
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes nextSlideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes backSlideOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes backSlideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.view-apply-form {
  view-transition-name: view-apply-form;
}
